hr.section-break {
	padding-top: 80px;
}

header {
	&.hero {
		margin-bottom: -23rem;
	}
	&.main {
		.right-off-canvas-toggle {
			padding-right:0;
		}
	}
}

main {
	article {

		.printables {
			text-align: right;
			img {
				width:  50px;
				height: 50px;
				margin-right: 1rem;
				cursor:pointer;
			}
		}

		hr {
			&.section-break {
				min-width: 275%;
				margin-left:-90%;
			}
		}

		table {
			thead {
				tr {
					th {
						min-width:100%;
						max-width: 100%;
					}
				}
			}
			tbody {
				tr {
					td {
						&:nth-child(1) {
						   text-align: left;
						}
					}
				}
			}
		}
	}
}

#course-navigation  {
	min-width:100%;
	h3 {
		#logo {
			max-width: 194px;
		}
	}
	#support-chat {
		a {
			position:relative;
			img {
				display:inline-block;
				width:50px;
				height:50px;
				float:left;
				margin-right:5px;
			}
			span.header {
				font-family:$serif-font;
				font-size:11px;
				display:block;
				padding-bottom:4px;
				white-space:nowrap;
			}
			span.btn {
				background:#007195;
				color:white;
				padding:5px 15px;
				display: inline-block;
				font-size:small;
				font-family: $sans-serif-font;
				border-radius: 4px;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
}